{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Dtox</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'main/plugins/bootstrap/bootstrap.min.css' %}">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="{% static 'main/plugins/themify-icons/themify-icons.css' %}">
    <!-- slick slider -->
    <link rel="stylesheet" href="{% static 'main/plugins/slick/slick.css' %}">
    <!-- venobox popup -->
    <link rel="stylesheet" href="{% static 'main/plugins/Venobox/venobox.css' %}">
    <!-- aos -->
    <link rel="stylesheet" href="{% static 'main/plugins/aos/aos.css' %}">

    <!-- Main Stylesheet -->
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'main/images/favicon.ico' %}" type="image/x-icon">
    <script type="text/javascript" src="{% static 'main/js/sweetalert.min.js' %}"></script>


</head>

<body>


    <!-- navigation -->
    <section class="fixed-top navigation">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{% url 'user_dashboard' %}"><img src="{% static 'main/images/theater.png' %}" style="width: 50px;" alt="logo"> <span style="font-size: 30px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Morphy</span></a>

                <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- navbar -->
                <div class="collapse navbar-collapse text-center" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_morph' %}">Morph</a>
                          </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="{% url 'user_apply' %}">Apply</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_my_profile' %}">My Profile</a>
                        </li>

                    </ul>
                    <a href="{% url 'user_logout' %}" class="btn btn-primary ml-lg-3 primary-shadow">Log Out</a>
                </div>
            </nav>
        </div>
    </section>
    <!-- /navigation -->

    <!-- contact -->
    <section class="section contact">


        <!-- Profile Start -->
        <div class="container rounded bg-white mb-5">
            <div class="row">
                <div class="col-md-4 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="w-75 rounded-circle" src="/media/{{user.picture}}"><span
                            class="font-weight-bold">{{user.name}}</span><span
                            class="text-black-50">{{user.email}}</span><span> </span></div>
                </div>
                <div class="col-md-8 border-right">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="p-3">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-3">
                           
                            <div class="col-md-12"><label class="labels">Full Name</label><input type="text"
                                    class="form-control" placeholder="Your Name" name="name" value="{{user.name}}">
                            </div>
                            <div class="col-md-12"><label class="labels">Mobile</label><input type="text"
                                    class="form-control" placeholder="Mobile Number" name="mobile"
                                    value="{{user.mobile}}"></div>
                            <div class="col-md-12"><label class="labels">City</label><input type="text"
                                    class="form-control" placeholder="City" name="city" value="{{user.city}}"></div>
                            <div class="col-md-12"><label class="labels">Password</label><input type="password"
                                class="form-control" placeholder="Password" name="password" value="{{user.password}}"></div>
                            <div class="col-md-12"><label class="labels">Picture</label><input type="file"
                                class="form-control" placeholder="City" name="picture" ></div>
                        </div>

                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save
                                Profile</button></div>
                    </div>
                </form>
                </div>

            </div>
        </div>
        </div>

        <!-- End Profile -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card p-4 border-blue">
                    <h5><i class="ti-layers-alt round-icon blue mr-2"></i> Sales</h5>
                    <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and
                        Consonantia.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card p-4 border-blue">
                    <h5><i class="ti-desktop round-icon green mr-2"></i> Help & Support</h5>
                    <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and
                        Consonantia.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="card p-4 border-blue">
                    <h5><i class="ti-panel round-icon orange mr-2"></i> Legal Departments</h5>
                    <p class="mb-0">Far far away, behind the word mountains, far from the countries Vokalia and
                        Consonantia.</p>
                </div>
            </div>
        </div>
        </div>
        <!-- background shapes -->
        <img class="contact-bg-1 up-down-animation" src="{% static 'main/images/background-shape/feature-bg-2.png' %}"
            alt="background-shape">
        <img class="contact-bg-2 left-right-animation"
            src="{% static 'main/images/background-shape/green-half-cycle.png' %}" alt="background-shape">
        <img class="contact-bg-3 up-down-animation" src="{% static 'main/images/background-shape/green-dot.png' %}"
            alt="background-shape">
        <img class="contact-bg-4 left-right-animation"
            src="{% static 'main/images/background-shape/service-half-cycle.png' %}" alt="background-shape">
        <img class="contact-bg-5 up-down-animation" src="{% static 'main/images/background-shape/feature-bg-2.png' %}"
            alt="background-shape">
    </section>
    <!-- /contact -->

    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <script>swal({
            title: "Info :)",
            text: "{{message}}",
            icon: "info",
            button: "OK",
        });
    </script>

    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <script>swal({
            title: "Warning :(",
            text: "{{message}}",
            icon: "warning",
            button: "OK",
        });
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <script>swal({
            title: "Error :(",
            text: "{{message}}",
            icon: "error",
            button: "OK",
        });
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <script>swal({
            title: "Success :)",
            text: "{{message}}",
            icon: "success",
            button: "OK",
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- footer -->
    <footer class="footer-section footer" style="background-image: url(/static/main/images/backgrounds/footer-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
                    <!-- logo -->
                    <a href="{% url 'index' %}">
                        <img class="img-fluid" src="{% static 'main/images/logo.png' %}" alt="logo">
                    </a>
                </div>
                <!-- footer menu -->
                <nav class="col-lg-8 align-self-center mb-5">
                    <ul class="list-inline text-lg-right text-center footer-menu">
                        <li class="list-inline-item active"><a href="{% url 'index' %}">Home</a></li>
                        <li class="list-inline-item"><a href="{% url 'about' %}">About</a></li>
                        <li class="list-inline-item"><a class="page-scroll" href="#team">Team</a></li>
                        <li class="list-inline-item"><a class="page-scroll" href="#pricing">Pricing</a></li>
                        <li class="list-inline-item"><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </nav>
                <!-- footer social icon -->
                <nav class="col-12">
                    <ul class="list-inline text-lg-right text-center social-icon">
                        <li class="list-inline-item">
                            <a class="facebook" href="#"><i class="ti-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="twitter" href="#"><i class="ti-twitter-alt"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="linkedin" href="#"><i class="ti-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="black" href="#"><i class="ti-github"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <!-- jQuery -->
    <script src="{% static 'main/plugins/jQuery/jquery.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'main/plugins/bootstrap/bootstrap.min.js' %}"></script>
    <!-- slick slider -->
    <script src="{% static 'main/plugins/slick/slick.min.js' %}"></script>
    <!-- venobox -->
    <script src="{% static 'main/plugins/Venobox/venobox.min.js' %}"></script>
    <!-- aos -->
    <script src="{% static 'main/plugins/aos/aos.js' %}"></script>
    <!-- Main Script -->
    <script src="{% static 'main/js/script.js' %}"></script>

</body>

</html>