{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Dtox</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'main/plugins/bootstrap/bootstrap.min.css' %}">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="{% static 'main/plugins/themify-icons/themify-icons.css' %}">
    <!-- slick slider -->
    <link rel="stylesheet" href="{% static 'main/plugins/slick/slick.css' %}">
    <!-- venobox popup -->
    <link rel="stylesheet" href="{% static 'main/plugins/Venobox/venobox.css' %}">
    <!-- aos -->
    <link rel="stylesheet" href="{% static 'main/plugins/aos/aos.css' %}">

    <!-- Main Stylesheet -->
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'main/images/favicon.ico' %}" type="image/x-icon">
    <script type="text/javascript" src="{% static 'main/js/sweetalert.min.js' %}"></script>
    <script>
        function validation(){
          let image1=document.myform.image1
          let image2= document.myform.image2
    
          if (image1.value.length == 0){
            alert("Please Upload Picture No.(1)")
            image1.focus()
            return false;
          }
          if (image2.value.length == 0){
            alert("Please Upload Picture No.(2)")
            image2.focus()
            return false;
          }
        }
      </script>
    


</head>

<body>


    <!-- navigation -->
    <section class="fixed-top navigation">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{% url 'user_dashboard' %}"><img src="{% static 'main/images/theater.png' %}" style="width: 50px;" alt="logo"> <span style="font-size: 30px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Morphy</span></a>

                <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- navbar -->
                <div class="collapse navbar-collapse text-center" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_morph' %}">Morph</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="{% url 'user_apply' %}">Apply</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_my_profile' %}">My Profile</a>
                        </li>

                    </ul>
                    <a href="{% url 'user_logout' %}" class="btn btn-primary ml-lg-3 primary-shadow">Log Out</a>
                </div>
            </nav>
        </div>
    </section>
    <!-- /navigation -->

    <!-- contact -->
    <section class="section contact">
        <div class="container">

            <form action="" method="post" enctype="multipart/form-data" name="myform" onsubmit="return validation()">
                {% csrf_token %}
                <div class="row contact-bg p-5 rounded mb-5 justify-content-center">
                    <div class="col-lg-3 mb-4 mb-lg-0">
                        <input class="form-control" id="input-file" name="image1" type="file" />
                        <p>Size : <span id="info">0 kb</span></p>
                    </div>
                    <div class="col-lg-3 mb-4 mb-lg-0">
                        <input class="form-control" id="input-file2" name="image2" type="file" />
                        <p>Size : <span id="info2">0 kb</span></p>
                    </div>
                    <div class="col-lg-3 mb-4 mb-lg-0">
                        <input class="form-control" id="input-file3" name="image3" type="file" />
                        <p>Size : <span id="info3">0 kb</span></p>
                    </div>
                    <div class="col-lg-2 mb-4 mb-lg-0">

                        <button type="submit" class="btn btn-secondary m-2">Morph</button>

                    </div>
                    <div class="col-lg-3 mb-4 mb-lg-0 " id="preview">
                        <img style="width: 70%;"  src="{% static 'main/images/no_preview.jpg' %}" alt="preview" />
                    </div>
                    <div class="col-lg-3 mb-4 mb-lg-0 " id="preview2">
                        <img style="width: 70%;"  src="{% static 'main/images/no_preview.jpg' %}" alt="preview" />
                    </div>
                    <div class="col-lg-3 mb-4 mb-lg-0 " id="preview3">
                        <img style="width: 70%;"  src="{% static 'main/images/no_preview.jpg' %}" alt="preview" />
                    </div>
                    <div class="col-lg-2 mb-4 mb-lg-0 ">
                        <h2></h2>
                    </div>

                </div>
            </form>
            
        </div>
        <!-- background shapes -->
        <img class="contact-bg-1 up-down-animation" src="{% static 'main/images/background-shape/feature-bg-2.png' %}"
            alt="background-shape">
        <img class="contact-bg-2 left-right-animation"
            src="{% static 'main/images/background-shape/green-half-cycle.png' %}" alt="background-shape">
        <img class="contact-bg-3 up-down-animation" src="{% static 'main/images/background-shape/green-dot.png' %}"
            alt="background-shape">
        <img class="contact-bg-4 left-right-animation"
            src="{% static 'main/images/background-shape/service-half-cycle.png' %}" alt="background-shape">
        <img class="contact-bg-5 up-down-animation" src="{% static 'main/images/background-shape/feature-bg-2.png' %}"
            alt="background-shape">
    </section>
    <!-- /contact -->

    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <script>swal({
            title: "Info :)",
            text: "{{message}}",
            icon: "info",
            button: "OK",
        });
    </script>

    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <script>swal({
            title: "Warning :(",
            text: "{{message}}",
            icon: "warning",
            button: "OK",
        });
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <script>swal({
            title: "Error :(",
            text: "{{message}}",
            icon: "error",
            button: "OK",
        });
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <script>swal({
            title: "Success :)",
            text: "{{message}}",
            icon: "success",
            button: "OK",
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}


    <!-- footer -->
    <footer class="footer-section footer" style="background-image: url(/static/main/images/backgrounds/footer-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
                    <!-- logo -->
                    <a href="{% url 'index' %}">
                        <img class="img-fluid" src="{% static 'main/images/logo.png' %}" alt="logo">
                    </a>
                </div>
                <!-- footer menu -->
                <nav class="col-lg-8 align-self-center mb-5">
                    <ul class="list-inline text-lg-right text-center footer-menu">
                        <li class="list-inline-item active"><a href="{% url 'index' %}">Home</a></li>
                        <li class="list-inline-item"><a href="{% url 'about' %}">About</a></li>
                        <li class="list-inline-item"><a class="page-scroll" href="#team">Team</a></li>
                        <li class="list-inline-item"><a class="page-scroll" href="#pricing">Pricing</a></li>
                        <li class="list-inline-item"><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </nav>
                <!-- footer social icon -->
                <nav class="col-12">
                    <ul class="list-inline text-lg-right text-center social-icon">
                        <li class="list-inline-item">
                            <a class="facebook" href="#"><i class="ti-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="twitter" href="#"><i class="ti-twitter-alt"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="linkedin" href="#"><i class="ti-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="black" href="#"><i class="ti-github"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <!-- jQuery -->
    <script src="{% static 'main/plugins/jQuery/jquery.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'main/plugins/bootstrap/bootstrap.min.js' %}"></script>
    <!-- slick slider -->
    <script src="{% static 'main/plugins/slick/slick.min.js' %}"></script>
    <!-- venobox -->
    <script src="{% static 'main/plugins/Venobox/venobox.min.js' %}"></script>
    <!-- aos -->
    <script src="{% static 'main/plugins/aos/aos.js' %}"></script>
    <!-- Main Script -->
    <script src="{% static 'main/js/script.js' %}"></script>
    <script>
        function previewPhoto(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                $(reader).on("load", function (eLoad) {
                    $("#preview img").attr("src", eLoad.originalEvent.target.result);
                });
                reader.readAsDataURL(input.files[0]);
            }
        }

        function loadPhotoInfo(input) {
            if (input.files && input.files[0]) {
                var size = (input.files[0].size / 1024).toFixed(2) + " kB";
                $("#info").html(size);
            }
        }

        $("#input-file").on("change", function () {
            previewPhoto(this);
            loadPhotoInfo(this);
        });
        // Second image
        function previewPhoto2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                $(reader).on("load", function (eLoad) {
                    $("#preview2 img").attr("src", eLoad.originalEvent.target.result);
                });
                reader.readAsDataURL(input.files[0]);
            }
        }

        function loadPhotoInfo2(input) {
            if (input.files && input.files[0]) {
                var size = (input.files[0].size / 1024).toFixed(2) + " kB";
                $("#info2").html(size);
            }
        }

        $("#input-file2").on("change", function () {
            previewPhoto2(this);
            loadPhotoInfo2(this);
        });

        // Third picture
        function previewPhoto3(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                $(reader).on("load", function (eLoad) {
                    $("#preview3 img").attr("src", eLoad.originalEvent.target.result);
                });
                reader.readAsDataURL(input.files[0]);
            }
        }

        function loadPhotoInfo3(input) {
            if (input.files && input.files[0]) {
                var size = (input.files[0].size / 1024).toFixed(2) + " kB";
                $("#info3").html(size);
            }
        }

        $("#input-file3").on("change", function () {
            previewPhoto3(this);
            loadPhotoInfo3(this);
        });
    </script>

</body>

</html>